<div class="footer">
  <div class="footer-text">
    <p>© BNFIQUE</p>
    <span class="pos"><i class="fa-sharp fa-solid fa-location-dot"></i></span>
    <p>324-325 Rue Paul Marie Valère, Fort de France, 97200</p>

    <i class="fa-solid fa-phone"></i>
    <p>06-96-26-39-98</p>
<i class="fa-solid fa-envelope"></i>
    <a href="" class="contact">Nous contacter</a>
  </div>

  <div class="footer-links">
    <p>Suivez-nous !</p>
    <a href="https://www.instagram.com/fonten_islands/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/julien-burlet-585a80132/"><i class="fab fa-linkedin"></i></a>
  </div>
 <div>
 <a href="">Mentions légales</a><br>
 <a href="">Conditions générales</a>
  </div>
 </div>
</div>
