<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540544660406-6a69dacb2804?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1264&q=80);">
  <div class="container">
    <h1 class="undertitle">Rejoignez notre voyage vers une vie plus heureuse avec nos <strong>massages</strong> de bien-être !</h1>


    <%= link_to "Commencez", massages_path, class: "btn1" %>
  </div>
</div>
<br>
<div class="container">





  <div class="me">
    <h2>Qui sommes-nous</h2>
    <h4>Notre histoire</h4>
    <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
      Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
      quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
    </p>
    <br>
    <p>
    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
    Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
    quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
    </p>
  </div>
  <br>
<br>

<h1 class="title">Nos produits</h1><br>
  <div class="card-products">

    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1654747780214-bbfbeb4fd64a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" class="card-img-top" alt="..."><br>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn1">Go somewhere</a>
      </div>
    </div>

    <div class="card-product" >
      <img src="https://images.unsplash.com/photo-1654747780214-bbfbeb4fd64a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" class="card-img-top" alt="..."><br>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn1">Go somewhere</a>
      </div>
    </div>

    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1654747780214-bbfbeb4fd64a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" class="card-img-top" alt="..."><br>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn1">Go somewhere</a>
      </div>
    </div>
  </div>



</div>
